/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.container {
   max-width: 1200px;
   margin: 0 auto; 
}
.titles {
    max-width: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #545454;
    text-align: center;
}
.section {
    padding: 90px 0px;
}

/*Header*/

.header__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-title {
    font-size: 32px;
    font-weight: 400;
    font-family: Georgia;
    color: #F1CDB3;
    line-height: 35.2px;
    letter-spacing: 1.5px;
}

.header__logo-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #FFF;
}

.menu__list {
    display: flex;
    gap: 10px;
}

.menu__list-link {
    font-size: 15px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    color: #FAFAFA;
}

.link__activated.menu__list-link::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:#F1CDB3;
}
/*Header*/

/*Startscreen*/
.startscreen {
    background:url(../img/start-screen-background.png), linear-gradient(0deg, #211F20, #211F20),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}
.startscreen__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}
.startscreen__content {
    max-width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.startscreen__content-title {
    max-width: 310px;
    font-size: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    line-height: 57.2px;
    color: #FFFFFF;
}
.startscreen__content-subtitle {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CDCDCD;
}
.startscreen__content-button {
    padding: 15px 45px;
    border-radius: 100px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: #F1CDB3;
}
/*Startscreen*/

/*About*/

.about__body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about__content {
    max-width: 430px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about__content-title {
    text-align: left;
}
.about__content-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #4C4C4C;
}
/*About*/

/*Pets*/
.pets {
    background-color: #F6F6F6;
}
.pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 697px;
}

.pets__contents-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pets__cards {
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.pets__cards-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #545454;
}
.pets__cards-button {
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:17px;
    line-height: 22px;
    letter-spacing: 1.5px;
    font-weight: 400;
}
.pets__content-button {
    padding: 15px 45px;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:17px;
    line-height: 22px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #292929;
    background-color: #F1CDB3;
}
.slider-arrow {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.prev-arrow {
    background-image: url(/src/svg/Arrow.svg);
}
.next-arrow {
    background-image: url(/src/svg/Arrow-next.svg);
}
/*Pets*/

/*Help*/

.help__content {
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.help__content-title {
    max-width: 308px;
}

.help__content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 110px;
    justify-content: center;
    width: 1026px;
}
.help__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;
    justify-content: space-between;
}
.help__card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #545454;
}
/*Help*/
/*Donation*/

.donation {
    background-color: #F6F6F6;
}
.donation__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
}
.donation__info {
    max-width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.donation__info-title {
    text-align: start;
    max-width: 300px;
}
.donation__info-card {
    display: flex;
    align-items: center;
    width: 349px;
    justify-content: space-between;
    background-color: #F1CDB3;
    padding: 10px 15px;
    border-radius: 9px;
}
.card-number {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-number a {
    text-decoration: none;
    color: #545454;
}
.donation__info-legal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
/*Donation*/